<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>MVC Tech blog</h1>
          {{#if loggedIn}}
          <a href="/home">Home</a>
          <a href="/dashboard">Dashboard</a>
          <button id="logout">Logout</button>
          {{else}}
          <a href="/home">Home</a>
          <a href="/login">Login</a>
          {{/if}}
 
    </header>
 
    <div class="hero"></div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Made with  💚  by Jess Hause Ugray, 2021
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  
</body>

</html>

