<ol class="post-list">
  {{#each posts as |post|}}
  <li class="blog-post">
    {{> post-info post }}
    <a class="comment-link" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </li>
  {{/each}}
</ol>


 