* {
  list-style-type: none;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #113300;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #CCCCCC;
}

button {
  background-color: #4c6346;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #CCCCCC;
} 

.post-list {
  margin: 0;
  padding: 1%;
} 

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #4c6346;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #8bb57f;
}

header {
  border-bottom: 5px solid #113300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1 {
  font-size: 30px;
  color: #113300;
  justify-content: flex-start;
}

.hero {
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/mvc-hero-image.jpeg");
  background-size: cover;
}

main {
  flex: 1;
  padding: 2% 4%;
}

#logout {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #113300;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

#logout:hover {
  background: none;
  color: #CCCCCC;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.blog-post {
  margin-bottom: 5%;
  padding: 1%;
  border-style: solid;
  border-color: #113300;
  border-width: 3px; 
  border-radius: 10px;
  background-color: #CCCCCC;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-color: #113300;
  border-width: 3px; 
}

.title a, .title p {
  display: inline-flex;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.edit-link:hover, .comment-link:hover, .blog-title:hover {
  color: #8bb57f;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
}

.comment:nth-child(odd) {
  background-color: #CCCCCC;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
}

footer {
  border-top: 5px solid #113300;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
} 









